{{#extends 'base'}}

{{#block 'content'}}
<form method = "get">

<div>
    <label>Name:</label>
    <input type="text" name="name" class="form-control"/>
</div>
<input type="submit" class="btn btn-primary"

</form>



{{/block}}

{{/extends}}